/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: lightgray;
}
